<p id="notice"><%= notice %></p>

<h1>Listing Acudientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Identificacion</th>
      <th>Ocupacion</th>
      <th>Cargo</th>
      <th>Empresa</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acudientes.each do |acudiente| %>
      <tr>
        <td><%= acudiente.nombre %></td>
        <td><%= acudiente.apellidos %></td>
        <td><%= acudiente.identificacion %></td>
        <td><%= acudiente.ocupacion %></td>
        <td><%= acudiente.cargo %></td>
        <td><%= acudiente.empresa %></td>
        <td><%= acudiente.direccion %></td>
        <td><%= acudiente.telefono %></td>
        <td><%= acudiente.celular %></td>
        <td><%= link_to 'Show', acudiente %></td>
        <td><%= link_to 'Edit', edit_acudiente_path(acudiente) %></td>
        <td><%= link_to 'Destroy', acudiente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acudiente', new_acudiente_path %>
