%p
  %strong Concepto
  = @volante.concepto

%p
  %strong Valor: 
  = @volante.valor 

%p
  %strong F generacion: 
  = @volante.f_generacion 

%p
  %strong F ingreso: 
  = @volante.f_ingreso 

%p
  %strong Numero comprobante: 
  = @volante.numero_comprobante 

%p
  %strong Estudiante: 
  = @volante.estudiante_id 